{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
<div{{ attributes.addClass(['location-term', 'location-term-' ~ term.id]) }}>
	{% if view_mode == 'description' %}
		<h2 class="title2 name">{{ content.field_long_name }}</h2>
		<h3 class="title3 address">{{ content.field_address }}</h3>
		<h3 class="title3 phone">{{ content.field_phone }}</h3>
		{% if content.field_email|render|trim %}
		<h3 class="title3 email">{{ content.field_email }}</h3>
		{% endif %}
		<h3 class="title3 geolocalization">{{ content.field_gmap }}</h3>
	{% elseif view_mode == 'description_map' %}
		<h2 class="title2 name">{{ content.field_long_name }}</h2>
		<h3 class="title3 address">{{ content.field_address }}</h3>
		<h3 class="title3 phone">{{ content.field_phone }}</h3>
		<h3 class="title3 email">{{ content.field_email }}</h3>
		<div class="gmap">{{ content.field_gmap }}</div>
	{% elseif view_mode == 'label' %}
		{{ name }}
	{% else %}
		{{ content.field_icon }}
		{{ name }}
	{% endif %}


</div>
