<article id="node-{{ node.id }}" class="staff chapter {{ attributes.class}} clearfix"{{ attributes }} role="article">
	<div class="chapter-image">{{ content.field_image }}</div>
	<h1{{ title_attributes.addClass(['chapter-title', 'node__title', 'chapter-title']) }}>{{ label }}</h1>
	<div class="staff-wrapper">{{ staff }}</div>
</article>