<article id="node-{{ node.id }}" class="{{ attributes.class}} clearfix chapter"{{ attributes }} role="article">
  <div class="chapter-image">{{ content.field_image }}</div>
  <h1{{ title_attributes.addClass(['chapter-title', 'node__title', 'chapter-title']) }}>{{ label }}</h1>
  <div class="chapter-content content"{{ content_attributes }}>
   {{ content.field_paragraphs }}
   </div>
</article>